.azeret-mono-ok {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
  
  /* shared style */

.title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
}

.section-description{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.rock2{
    background-image: linear-gradient(to right ,rgba(255,255,255,0%), rgba(255,255,255,100%));
}

.rock1{
    background-image: linear-gradient(to right ,rgba(255,255,255,100%), rgba(255,255,255,0%));
}

.rock1 img{
    margin-left: 32px;
}
.rock2 img{
    margin-right: 32px;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}
  
.nav-title{
    font-weight: 800;
    font-size: 28px;
}

.nav-btn{
    background-color: white;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-size: 20px;
    margin: 10px 5px;
}

  
  /* banner styles */
.banner{
    background-image: url(../images/Hero-bg.png);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px;
} 

.banner-content{
    max-width: 998px;
}

.banner-title{
    font-weight: 800;
    font-size: 48px;
}
.banner-discription{
    font-size: 16px;
    line-height: 25px;
}
.banner-pic{
    margin-top: 26px;
    width: 240px;
    height: 240px;
}
.btn-contact{
    background-color: #0D1321;
    font-weight: 600;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-size: 20px;
    margin: 45px;
}

.btn-contact a{
    text-decoration: none;
    color: white;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About styles */

.about{
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 2%);
    padding: 80px 97px;
}

.about-container{
    text-align: center;
}

.about-items{
    display: flex;
    flex-direction: column;
    margin: 48px;
}
.about-item{
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin: 32px;
    padding: 48px;
    border-radius: 16px;
}
.item-discription{
    font-weight: 600;
}

.item-title{
    font-size: 24px;
    font-weight: 700;
}

.about-btn{
    background-color: white;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    font-size: 20px;
    margin: 10px 5px;
}

/* inspiration section */

.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-section{
    margin: 50px;
    padding: 32px;
    border: 1px solid #0D1321;
    border-radius: 16px;
}

/* skill style */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    margin: 24px;
}

.skill a{
    color: #0D1321;
}
.skill-title{
    font-weight: bold;
    font-size: 20px;
}

.html{
    background-color: rgba(255, 76, 30, 5%);
}

.css{
    background-color: rgba(0, 76, 232, 5%);
}

.js{
    background-color: rgba(255, 223, 0, 5%);
}

/* contact section */
.contact{
    display: flex;
    flex-direction: column;
    padding: 64px 48px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../images/handshake.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 313px;
    border-radius: 16px;
}

.contact h3{
    color: white;
    margin: 16px;
}

.contact p{
    margin: 16px;
}

.contact textarea{
    height: 25px;
    border-radius: 8px;
    background-color: white;
    display: inline;
    width: 50%;
    padding: 17px 24px;
    border: none;
}

.contact .form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px;
}

/* footer style */
footer{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 2%);
}

footer .copy-right{
    padding-top: 20px;
}

footer .icons{
    margin: 24px;
}